<% offer_invitations_user_ids = offer_invitations.pluck(:user_id) %>

<%= form_with url: offer_bulk_create_invitations_path(offer) do |form| %>
  <%= form.collection_check_boxes(:user_ids, users.map{|user|[user, user.id]}, :last, :first) do |b| %>
    <div class="form-group">
      <%= b.label class: "checkbox-label" do %>
        <%= b.check_box checked: offer_invitations_user_ids.include?(b.value) %>
        <%= render "shared/profile",
                   profile: b.object.first.profile %>
      <% end %>
    </div>
  <% end %>

  <%= form.submit t(".save_and_continue"), class: "btn btn-primary" %>
<% end %>
