<ol class="card py-3 mb-3 flex gap-y-2 overflow-y-auto">
  <li class="flex items-center <%= "text-blue-600" if (new_offer_page? || edit_offer_page?) %>">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0 <%= (new_offer_page? || edit_offer_page?) ? "border-blue-600" : "border-gray-500" %>">
      1
    </span>
    <% if local_assigns[:offer] %>
      <%= link_to t(".edit_offer"),
                  edit_offer_path(offer),
                  class: "text-inherit" %>
    <% else %>
      <%= t(".create_offer") %>
    <% end %>
    <i class="fa-solid fa-angles-right mx-2"></i>
  </li>
  <li class="flex items-center <%= "text-blue-600" if offer_bulk_add_invitations_page? %>">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0 <%= offer_bulk_add_invitations_page? ? "border-blue-600" : "border-gray-500" %>">
      2
    </span>
    <% if local_assigns[:offer] %>
      <%= link_to t(".invite"),
                  offer_bulk_add_invitations_path(offer),
                  class: "text-inherit" %>
    <% else %>
      <%= t(".invite") %>
    <% end %>
    <i class="fa-solid fa-angles-right mx-2"></i>
  </li>
  <li class="flex items-center <%= "text-blue-600" if offer_page? %>">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0 <%= offer_page? ? "border-blue-600" : "border-gray-500" %>">
      3
    </span>
    <% if local_assigns[:offer] && offer.users_invited? %>
      <%= link_to t(".publish"),
                  offer_path(offer),
                  class: "text-inherit" %>
    <% else %>
      <%= t(".publish") %>
    <% end %>
  </li>
</ol>
