<div class="lg:w-1/2 m-auto">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group flex">
        <div class="flex items-center h-5">
          <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
        </div>
        <%= f.label :remember_me, class: "ms-2 text-sm font-medium text-gray-900" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>
</div>
