<div class="card">
  <div class="h-full flex flex-col justify-between gap-y-3">
    <div class="space-y-3">
      <% if offers_page? %>
        <%= link_to offer_path(offer),
                    class: "text-xl font-light line-clamp-2",
                    title: offer.title do %>
          <%= offer.title %>
        <% end %>
      <% else %>
        <h4 class="text-xl font-light line-clamp-2">
          <%= offer.title %>
        </h4>
      <% end %>
      <dl class="description-list">
        <div class="">
          <dt><%= t(".who") %></dt>
          <dd>
            <% if offer.offerer == current_user %>
              <%= t(".you") %>
            <% else %>
              <%= offer.offerer.nickname %> (<%= offer.offerer.name %>)
            <% end %>
          </dd>
        </div>
        <div class="">
          <dt><%= t(".when") %></dt>
          <dd>
            <%= offer.start_at.to_formatted_s(:short) %> - <%= offer.end_at.to_formatted_s(:short) %>
          </dd>
        </div>
        <div class="">
          <dt><%= t(".where") %></dt>
          <dd><%= offer.place %></dd>
        </div>
        <% if offer_page? && offer.conditions.present? %>
          <div class="">
            <dt><%= t(".conditions") %></dt>
            <dd><%= offer.conditions %></dd>
          </div>
        <% end %>
      </dl>
      <% if offer_page? %>
        <div class="flex flex-wrap gap-3">
          <% if policy(offer).destroy? %>
            <%= button_to t(".delete"),
                          offer_path(offer),
                          method: :delete,
                          class: "btn btn-danger",
                          data: { turbo_confirm: "Are you sure?" } %>
          <% end %>
          <% if offer.published_or_archived? && policy(offer).edit? %>
            <%= link_to t(".edit"),
                        edit_offer_path(offer),
                        class: "btn btn-secondary" %>
          <% end %>
          <% if !offer.published_or_archived? && policy(offer).manage? %>
            <%= button_to t(".publish"),
                          publish_offer_path,
                          class: "btn btn-primary" %>
          <% end %>
          <% if offer.published? && policy(offer).manage? %>
            <%= link_to t(".manage_invitations"),
                        offer_bulk_add_invitations_path(offer),
                        class: "btn btn-primary" %>
          <% end %>
          <% if offer_invitation&.pending? %>
            <%= button_to t(".decline"),
                          decline_offer_invitation_path(offer),
                          class: "btn btn-danger",
                          data: { turbo_confirm: "Are you sure?" } %>
            <%= button_to t(".accept"),
                          accept_offer_invitation_path(offer),
                          class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if offers_page? %>
      <div class="">
        <%= link_to offer_path(offer),
                    class: "btn btn-primary btn-with-icon" do %>
          <%= t(".view_offer") %>
          <i class="fa-solid fa-arrow-right icon"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
