<% if offer.published_or_archived? %>
  <h1><%= offer.what %></h1>
  <% if offer.archived? %>
    <p class="text-gray-500 mb-4">
      <i class="fa-solid fa-box-archive mr-1"></i>
      <%= t(".offer_archived") %>
    </p>
  <% end %>
<% else %>
  <%= render "shared/create_offer_stepper", offer: offer %>
<% end %>

<div class="lg:w-1/2 space-y-4">
  <%= render "offer" %>

  <% if offer.published_or_archived? %>
    <div class="">
      <%= link_to t(".back_to_offers"),
                  root_path %>
    </div>
  <% end %>

  <div class="space-y-4">
    <%= render @offer_invitations %>
  </div>
</div>
