<div class="fixed bottom-0 right-0 left-0">
  <div class="container px-3 m-auto">
    <nav class="h-[57px] px-4 py-2 flex justify-between items-center bg-gray-50 border-t border-r border-l border-gray-300 rounded-tr-2xl rounded-tl-2xl">
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path,
                      method: :delete,
                      class: "text-xl text-red-600 hover:text-red-700" do %>
          <i class="fa-solid fa-power-off"></i>
        <% end %>
      <% end %>
      <%= link_to friends_path,
                  class: "text-xl text-indigo-600 hover:text-indigo-700" do %>
        <i class="fa-solid fa-user-group"></i>
      <% end %>
      <% if show_new_offer_button_in_bottom_navbar? %>
        <%= link_to new_offer_path,
                    class: "btn btn-success p-[5px] w-[40px] h-[40px] md:px-3 md:py-2 md:w-auto md:h-auto" do %>
          <span class="inline-block w-[30px] h-[30px] text-center md:hidden">
            <i class="fa-solid fa-plus text-[30px]"></i>
          </span>
          <span class="hidden md:inline-block">
            <%= t(".new_offer") %>
          </span>
        <% end %>
      <% end %>
      <%= link_to edit_profile_path,
                  class: "text-xl text-indigo-600 hover:text-indigo-700" do %>
        <i class="fa-regular fa-id-card"></i>
      <% end %>
      <%= link_to root_path,
                  class: "text-xl text-indigo-600 hover:text-indigo-700" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </nav>
  </div>
</div>
