<!DOCTYPE html>
<html>
  <head>
    <title>Offers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container px-3 m-auto pt-3 pb-[70px]">
      <%= yield %>
    </div>
    <% if show_bottom_navbar? %>
      <%= render "layouts/partials/bottom_navbar" %>
    <% end %>
  </body>
</html>
